In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
details='{"Name":"Akash","Mobile":[9998434325]}'
result=json.loads(details)
print(result)

{'Name': 'Akash', 'Mobile': [9998434325]}

In [3]:
print(details)

{"Name":"Akash","Mobile":[9998434325]}

In [4]:
print(result['Name'])

Akash

In [5]:
stu={'reg':'19MCB1001','name':'rama','age':22,'score':92.3}
stuj = json.dumps(stu)
stuj

'{"reg": "19MCB1001", "name": "rama", "age": 22, "score": 92.3}'

In [6]:
print(stuj)

{"reg": "19MCB1001", "name": "rama", "age": 22, "score": 92.3}

In [7]:
df = pd.read_json('Downloads\sampledata.json')
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [8]:
fp = open('Downloads/js1.json','w')
json.dump(stu,fp)

In [9]:
data1 = {'Product': ['Computer', 'Printer', 'Monitor', 'Tablet', 'Keyboard'],'Price': [1200, 200, 500, 350, 80]}
df = pd.DataFrame(data1)
print(df)
df.to_json('Downloads/export_dataframe.json')

    Product  Price
0  Computer   1200
1   Printer    200
2   Monitor    500
3    Tablet    350
4  Keyboard     80

In [11]:
data = {'Product': ['Computer', 'Printer', 'Monitor', 'Tablet', 'Keyboard'],'Price': [1200, 200, 500, 350, 80]}
df = pd.DataFrame(data)
df.to_json('Downloads/export_dataframe.json', orient='split')