In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series()
print(ser)

Series([], dtype: float64)

C:\Windows\TEMP/ipykernel_12696/3252700383.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [3]:
data = np.array(['p', 'y', 't', 'h', 'o', 'n']) 
ser = pd.Series(data) 
print("Pandas Series:\n", ser)

Pandas Series:
 0    p
1    y
2    t
3    h
4    o
5    n
dtype: object

In [4]:
ls=['p','y','t','h','o','n']
ser=pd.Series(ls)
print(ser)

0    p
1    y
2    t
3    h
4    o
5    n
dtype: object

In [5]:
subj=["Maths","Science","Social science","Language"]
marks=[100,98,87,89]
pd.Series(marks, index=subj)

Maths             100
Science            98
Social science     87
Language           89
dtype: int64

In [6]:
sub_mark={"Maths":100,"Science":98,"Social Science":87,"Language":89}
pd.Series(sub_mark)

Maths             100
Science            98
Social Science     87
Language           89
dtype: int64

In [7]:
subj=["Maths","Science","Social Science","Computer science"]
mark_series=pd.Series(sub_mark,index=subj)
mark_series

Maths               100.0
Science              98.0
Social Science       87.0
Computer science      NaN
dtype: float64

In [9]:
mark_series.isnull()

Maths               False
Science             False
Social Science      False
Computer science     True
dtype: bool

In [10]:
mark_series.notnull()

Maths                True
Science              True
Social Science       True
Computer science    False
dtype: bool

In [11]:
mark_series[mark_series>90]

Maths      100.0
Science     98.0
dtype: float64

In [12]:
mark_series.sort_values(ascending=False)

Maths               100.0
Science              98.0
Social Science       87.0
Computer science      NaN
dtype: float64

In [13]:
mark_series.rank(ascending=False)

Maths               1.0
Science             2.0
Social Science      3.0
Computer science    NaN
dtype: float64

In [15]:
mark_series.sum()

285.0

In [16]:
mark_series.mean()

95.0

In [17]:
mark_series.median()

98.0

In [18]:
mark_series.std()

7.0

In [19]:
mark_series.max()

100.0

In [20]:
mark_series.idxmax()

'Maths'

In [21]:
mark_series.min()

87.0

In [22]:
mark_series.idxmin()

'Social Science'

In [23]:
mark_series.count()

3

In [24]:
mark_series.describe()

count      3.0
mean      95.0
std        7.0
min       87.0
25%       92.5
50%       98.0
75%       99.0
max      100.0
dtype: float64

In [25]:
mark_series.unique()

array([100.,  98.,  87.,  nan])

In [26]:
mark_series.nunique()

3

In [27]:
mark_series.value_counts()

100.0    1
98.0     1
87.0     1
dtype: int64

In [28]:
mark_series.dropna()

Maths             100.0
Science            98.0
Social Science     87.0
dtype: float64

In [29]:
mark_series.dropna(inplace=True)

In [30]:
mark_series

Maths             100.0
Science            98.0
Social Science     87.0
dtype: float64

In [31]:
mark_series[:2]

Maths      100.0
Science     98.0
dtype: float64

In [34]:
data=np.array(['p','y','t','h','0','n'])
ser=pd.Series(data,index=[5,10,15,20,25,30])
ser

5     p
10    y
15    t
20    h
25    0
30    n
dtype: object

In [35]:
ser.iloc[2]

't'

In [36]:
ser.loc[15]

't'

In [37]:
mark_series.iloc[1]

98.0

In [38]:
mark_series.loc["Science"]

98.0

In [39]:
mark_series.iloc[:2]

Maths      100.0
Science     98.0
dtype: float64

In [40]:
mark_series.loc[:"Social Science"]

Maths             100.0
Science            98.0
Social Science     87.0
dtype: float64

In [41]:
df1 = pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [42]:
data = [16,26,36,46,56,66,76,86,96] 
df2 = pd.DataFrame(data) 
print("Dataframe:") 
print(df2)

Dataframe:
    0
0  16
1  26
2  36
3  46
4  56
5  66
6  76
7  86
8  96

In [43]:
data3 = [['Sree',20],['Priya',4],['Payal',10], ['Ram', 13], ['John', 22]]
df3 = pd.DataFrame(data3,columns=['Name','Age'])
print(df3)

    Name  Age
0   Sree   20
1  Priya    4
2  Payal   10
3    Ram   13
4   John   22

In [44]:
data2 = {'name':["Sree","Priya", "Payal", "Ram", "John"], 'Age':[20,4,10,13,22]}
df3 = pd.DataFrame(data2)
print(df3)

    name  Age
0   Sree   20
1  Priya    4
2  Payal   10
3    Ram   13
4   John   22

In [45]:
subj=pd.Series(["Maths","Science","Social Science","Computer science"])
marks=pd.Series([100,98,87,89])
grade=pd.Series(('A','A','B','B'))
df=pd.DataFrame([subj,marks,grade])
print(df)
df=pd.DataFrame([subj,marks,grade],index=['subj','marks','grade'])
print(df)
df=pd.DataFrame([subj,marks,grade],index=['subj','marks','grade']).T
print(df)

       0        1               2                 3
0  Maths  Science  Social Science  Computer science
1    100       98              87                89
2      A        A               B                 B
           0        1               2                 3
subj   Maths  Science  Social Science  Computer science
marks    100       98              87                89
grade      A        A               B                 B
               subj marks grade
0             Maths   100     A
1           Science    98     A
2    Social Science    87     B
3  Computer science    89     B

In [50]:
df=pd.DataFrame([['Jan', 58, 42, 74, 22, 2.95],['Feb', 61, 45, 78, 26, 3.02],['Mar', 65, 48, 84, 25, 2.34],['Apr', 67, 50, 92, 28, 1.02],['May', 71, 53, 98, 35, 0.48],['Jun', 75, 56, 107, 41, 0.11],['Jul', 77, 58, 105, 44, 0.0],['Aug', 77, 59, 102, 43, 0.03],['Sep', 77, 57, 103, 40, 0.17],['Oct', 73, 54, 96, 34, 0.81],['Nov', 64, 48, 84, 30, 1.7],['Dec', 58, 42, 73, 21, 2.56]],index=[0,1,2,3,4,5,6,7,8,9,10,11],columns=['month','avg_low','avg_high','record_high','record_low','avg_preci'])
print(df)

   month  avg_low  avg_high  record_high  record_low  avg_preci
0    Jan       58        42           74          22       2.95
1    Feb       61        45           78          26       3.02
2    Mar       65        48           84          25       2.34
3    Apr       67        50           92          28       1.02
4    May       71        53           98          35       0.48
5    Jun       75        56          107          41       0.11
6    Jul       77        58          105          44       0.00
7    Aug       77        59          102          43       0.03
8    Sep       77        57          103          40       0.17
9    Oct       73        54           96          34       0.81
10   Nov       64        48           84          30       1.70
11   Dec       58        42           73          21       2.56